<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://star-ingest-fn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/50b51095-fe96-401c-9d4f-693cf6486f39/resourceGroups/New-ADR-Testing-RG/providers/Microsoft.Web/sites/star-ingest-fn</ResourceId>
    <UserName>$star-ingest-fn</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://star-ingest-fn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>